<template name="ridesList">
  <div class="col-sm-4 col-sm-offset-1">
    <h1>{{siteName}}</h1>
    <p>

      O <strong>Mural de Caronas</strong> é um site de caronas intermunicipais
      funcional e sem frescura para facilitar a vida dos alunos, funcionários e
      professores da <strong>UNICAMP</strong> no trajeto <strong>Barão Geraldo
      &lt;=&gt; São Paulo</strong>.

    </p>
    <p>
      (Outras universidades e trajetos serão adicionadas conforme o uso do
      site for crescendo.)
    </p>

    <h3>Software livre.</h3>
    <p>
      Todo o <a href="https://github.com/obvio171/rideboard"
      target="_blank">código</a> é aberto e disponibilizado sob licença MIT.
    </p>

    <h3>Sem lucro.</h3>
    <p>

      A manutenção do projeto é garantida pela comunidade que o apoia através do
      <a href="https://unlock.fund/pt-BR/muraldecaronas"
      target="_blank">Unlock</a>. O <strong>Mural</strong> é da comunidade, para
      a comunidade.

    </p>

    <h3>Sem frescura.</h3>
    <p>

      O site vai ser o que o nome diz: um mural, apenas uma tabela que lista
      caronas <strong>por ordem</strong> de horário de início, com filtros de
      origem/destino e dia. Só.

    </p>
    <p>

      As pessoas postam suas formas de contato, seus critérios e preço na
      descrição da carona, e se viram para entrar em contato. O site não tenta
      intermediar nada.

    </p>

    <h3>Seguro.</h3>
    <p>
      Apenas pessoas com email confirmado da UNICAMP podem se cadastrar e ver
      a listagem e o conteúdo das caronas. Convites e outras universidades
      serão adicionados no futuro.
    </p>

    <h3>Replicável.</h3>
    <p>

      E se o site for pro saco? E se o desenvolvedor inicial perder o
      interesse? E se tomar alguma decisão impopular?

    </p>

    <p>

      Não tem problema. O controle está nas mãos dos usuários. O software vai
      ser sempre aberto e otimizado para facilitar a criação de novos sites
      iguais sem precisar do esforço duplicado de desenvolvê-lo de novo.

    </p>

    <p>

      Se o Mural sair do ar, criar outro é fácil. Se pisar na bola, criar
      concorrentes também é fácil.

    </p>

  </div>
  <div class="col-sm-3" style="text-align: center;">
    <h2>Junte-se ao Mural</h2>
    {{#if currentUser}}
      <p>
        O <strong>Mural de Caronas</strong> é um projeto open source sem fins
        lucrativos. Por favor, ajude a divulgar e <strong><a href="https://www.facebook.com/groups/GrupoUnicamp/permalink/10152879705420446/" target="_blank">
        manifeste seu apoio no Facebook</a></strong>.
      </p>
      <p>
        Para garantir sua manutenção e desenvolvimento, por favor,
        considere fazer uma contribuição mensal através da nossa campanha do
        <a href="https://unlock.fund/pt-BR/muraldecaronas" target="_blank">
        Unlock</a>.
      </p>
      <p>
        Obrigado!
      </p>

      <p style="text-align: center;">
        <a href="https://unlock.fund/pt-BR/muraldecaronas" target="_blank"
        class="btn btn-large btn-success">
          Apoiar o Mural de Caronas no Unlock
        </a>
      </p>
    {{else}}
      {{> atForm state='signUp'}}
    {{/if}}
  </div>
  <div class="col-sm-3">
    <h3>Massa crítica</h3>
    <div class="well">
      <div style="font-size: 2em; font-family: Monospace; text-align: right;">
        {{getPublishedCount 'verifiedUsers'}}<br />
        de 5000
      </div>
      <div style="font-family: Monospace; text-align: right;">
        <small>pré-cadastros confirmados</small>
      </div>
    </div>

    <p>
      Um site de caronas tem que ter <strong>muita gente usando</strong> para
      dar certo.
    </p>
    <p>
      Não sabemos exatamente qual é o mínimo de pessoas que precisa ter no
      começo.
    </p>
    <p>
      Vamos começar com o chute de <strong>5 mil</strong> e abrir o site
      quando tivermos este número de pré-cadastros.
    </p>
    <p>
      Menos que isso é inviável, e não vale o esforço voluntário de fazer o
      site.
    </p>
    <p>

      Já somos {{getPublishedCount 'verifiedUsers'}}, que tal se juntar a nós?
      Faça seu cadastro ao lado e ajude a aumentar o número de alternativas
      para os usuários de carona.

    </p>
    <p>
      Obrigado! =)
    </p>
    <p>
      Abraço,<br />
      Helder Ribeiro
    </p>
  </div>
</template>
