<template name="layout">
  <body>
    <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
        <a href="https://github.com/obvio171/rideboard" target="_blank">Forque-me no GitHub</a>
      </div>
    </div>

    <div class="container-fluid">
      <header class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{siteName}}</a>
        </div>
      </header>
      <div id="main" class="row-fluid">
        {{> yield}}
      </div>
    </div>
  </body>
</template>
