<template name="layout">
  <body>
    <div class="navbar-outer">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">{{siteName}}</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{pathFor 'home'}}">Início</a></li>
              <li><a href="https://www.facebook.com/groups/GrupoUnicamp/permalink/10152893928590446/" target="_blank">
                Facebook</a></li>
              <li><a href="https://www.github.com/obvio171/rideboard/" target="_blank">
                Github</a></li>
              {{#if userProfile}}
                <li><a href="{{pathFor 'profile'}}">
                  Perfil</a></li>
              {{/if}}
              {{#if currentUser}}
                <li><a href="{{pathFor 'signOut'}}">
                  Fazer logout</a></li>
              {{/if}}
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>

    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </body>
</template>
